/* Reset page */
* { 
    margin: 0;
    padding: 0;
    
   
}


/* Header */ 
body { 
    line-height: 1.7em;
    font-weight: 500;
    font-family: 'Roboto Regular',Helvetica,Arial,Lucida,sans-serif;
font-size: 18px;
}

h2 { 
    padding-bottom: 10px;
}


header { 
    display: flex;
    width: 100%;
    height: 90px;
}

.container_logo { 
    display: flex;
    align-items: center;
    padding-left: 30px;
    max-width: 380.617;
   
}

.logo { 
    max-height: 70%;
    padding-left: 30px;
    align-self: center;

}

nav { 
    display: flex;
    width: 100%;
    justify-content: end;
    
}
    



nav > ul { 
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: end;
 
    
}


#top-menu > li {
    
    padding-right: 22px;
    font-family: 'Roboto Slab',Georgia,"Times New Roman",serif;
    font-weight: 600;
    font-size: 14px;
    color: #7D7D7D;
    justify-content: end;
    
}
    


/* First section / First part Hero */ 

.hero { 
    display: flex;
    width: 100%;
    height: 720px;
    font-family: 'Roboto Regular',Helvetica,Arial,Lucida,sans-serif;
    line-height: 30px;
    font-size: 25px;
    padding-bottom: 27px;
 
}

.hero p { 
    padding: 1em;
    
}

.section_hero1{ 
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    background-color: #336699;
    color: #fff; 
    width: 50%;   
    

}

.content_hero > div { 
    width: 380.2px;
}
.container_text_hero1 {
    padding: 20px 144px 20px 144px;
    width: 432px; 
    height: auto;

}

.digital {
    display: flex;
    justify-content: center;
}

.container_text_hero1 p {
    padding-top: 10px;
}

#button { 
    display: flex;
    text-align: center;
    width: 422px;
    height: 92px; 
    border: 2px solid #ff2063;
    background-color: #ff2063;
    border-radius: 100px;
    letter-spacing: 1px;
    font-size: 22px;
    line-height: 27.2px;
    text-decoration: none;
    margin: 0 5px 0 5px;
    position: relative;
    font-weight: 700 !important;
    text-transform: uppercase !important;
    letter-spacing: 2px;
       
}

.button_index {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 374px;
    height: 74.8px;
    padding: 6.6px 22px 6.6px 22px;
    color: #fff;
    font-weight: 400px;
    line-height: 1.7em !important;

}


a {
    text-decoration: none;
    transition: transform .2s

}

a:hover { 
    transform: scale(1.1)
}


.p_button {
    font-family: 'Roboto',sans-serif;
    font-weight: 100;
    font-size: 12px;
    text-align: center;

   
    
}
.containter_imghero {
    display: flex;
    padding-bottom: 20px;
    width: 100px;
}

.img_hero1 {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;  
}

/* First section / Second part Hero */

.former { 
    display: flex;
    width:100%;
    justify-content: center;
    padding: 27px 0 27px 0;
   
}

.title_former { 
    font-size: 40px;
    color: #336699;
    font-family: 'Roboto Slab',Georgia,"Times New Roman",serif !important;
    line-height: 1em;
    font-weight: 500;
    padding-bottom: 27px;
    
    

}

.title_main {
    display: flex;
    font-family: 'Roboto Slab',Georgia,"Times New Roman",serif !important;
    font-size: 40px;
    color: #336699;
    padding-bottom: 10px;
    line-height: 1em;
    font-weight: 500;
    
    
}

.content_hero { 
    display: flex;
    width: 100%; 
    font-family: 'Roboto Regular',Helvetica,Arial,Lucida,sans-serif;
    font-size: 19px;
    color: #336699 !important;
    justify-content: space-around;
    padding: 27px 0 27px 0;
}

    

.content_hero > div {
    display: flex;
    max-width: 400px;
}

.content_articles { 
    display: flex;
    padding-left: 15px;

}

.content_articles > p { 
    padding-bottom: 1em;
    word-break: break-word;
}


.containter_articles { 
    font-family: 'Roboto Regular',Helvetica,Arial,Lucida,sans-serif;
    font-size: 19px;
    line-height: 1.7em;
    font-weight: 500;
}

.containter_articles > h4 {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    
}

.articles { 
    display: table;
    justify-content: center;
    text-align: center;
    padding: 30px 40px 30px 40px;
    background: #fff; 
    box-shadow: 0px 0px 60px 0px rgba(71,74,182,0.12);
       
}

.articles_last {
    display: table;
    justify-content: center;
    text-align: center;
    padding: 30px 10px;
    background: #fff; 
    box-shadow: 0px 0px 60px 0px rgba(71,74,182,0.12);
}

.div_article > h4 {
    padding-left: 15px;
}

.img_articles { 
    display: inline;
   
    max-width: 100px;
    height: auto;
    padding-bottom: 30px;
    
}

.div_article > h4 { 
    font-weight: 700;
    
    color: #275fa0 !important;
    line-height: 1.5em;
    font-family: 'Roboto Slab',Georgia,"Times New Roman",serif !important;
    text-align: left;
    padding-bottom: 10px;

  }


.container_button_articles {
    display: flex;
    width: 380px;
    height: 57px;
    margin-top: 35.23px;
    justify-content: center;
    text-transform: uppercase;
    
    
    
}

.button_articles { 
    letter-spacing: 1px;
    font-size: 16px;
    background-color: #ffca4b;
    border-radius: 100px;
    font-family: 'Roboto',sans-serif;
    font-weight: 500;
    padding-right: 2em;
    padding-left: 0.7em;
    display: inline-block;
    position: absolute;
    padding: .3em 1em;
    border: 5px solid #ffca4b;
    transition: transform 300ms ;
}

.button_articles a { 
    color: #fff;
    transform: scale(1.1);
}


.button_articles:hover { 
    transform: scale(1.1);
      
}



.button_articles > a::after {
        font-family: ETmodules;
        content: "\45";
        font-size: inherit;
        line-height: inherit;
        color: #fff;
        letter-spacing: 1px;
}



.content_articles { 
    display: flex;
    flex-direction: column;
    text-align: left;

    
}


/* Section 2 */ 

.transfo { 
    display: flex;
    width:100%;
    justify-content: center;
    margin: auto; 
    padding: 27px 0 27px 0;
    margin-top: 54px;
   
}
.section2 { 
    display: flex;
    justify-content: space-around;
    width: 100%;
}



.containter_section2 {
    display: flex;
    width: auto; 
    font-family: 'Roboto Regular',Helvetica,Arial,Lucida,sans-serif;
    color: #336699 !important;
    justify-content: space-around;
    padding: 27px 40px 27px 40px;
}

.content_section2 { 
    display: flex;
    width: 100%;
    
}

.containter_button_articles_section2 {
    display: flex;
    margin-bottom: 40px; 
    
}

.div_containter_sec2 {
    display: flex;
    justify-content: center;
    margin: 40px;
    font-weight: 500 !important;
    
}

.button_articles_section2 {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    
}

.button_articles_section2 > a {
    background: #FFCA4B;
    padding: 4.8px 32px 4.8px 32px;
    border-radius: 100px;
    border: 10px solid #FFCA4B;
    position: absolute;
    text-transform: uppercase !important;
    color: #fff;
    font-family: 'Roboto',sans-serif;
    text-align: center;
    margin-bottom: 35.23px;
}

.button_articles_section2 a::after {
    font-family: ETModules ;
   content: "\45";
   
}

.container_img2 { 
    display: flex;
    justify-content: flex-start;
}

.img_articles2 {
    display: flex;
    width: 100px;
    height: 100px;
    justify-content: center;
}

.containter_article2 {
    display: flex;
    flex-direction: column; 
    
}

.containter_article2 h4 { 
    font-weight: 900;
    font-family: "Roboto Slab" Georgia "Times New Roman"
    serif;
    font-size: 20px;
    padding: 0 0 10px 14px;
}


/* Section Video */

.section_video {
    display: flex;
    width: 100%;
    height: auto;
    background: #FFA000;
    flex-direction: column;
    padding-top: 50px;
    margin-top: 20px;
}

.container_video_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding-top: 27px;
    padding-bottom: 27px
}

.container_video_text h2 {
    font-size: 40px;
    font-weight: 500;
    color: #fff;
    padding-bottom: 10px;
    font-family: 'Roboto Slab',Georgia,"Times New Roman",serif !important;

}

.container_video_text > p {
    color: #fff;
    font-family: 'Roboto Regular',Helvetica,Arial,Lucida,sans-serif;
    font-weight: 300;
    
    
}


.container_video {
    display: flex;
    justify-content: space-evenly;
    padding: 27px 0 50px 0;
    

}

.video1 {
    width: 50%;
    height: auto;
    text-align: center;
    
}

.video2 {
    width: 50%;
    height: auto;
    text-align: center;

    
}

/* Footer */

footer { 
    display: flex;
    width: 100%;
    height: 400px;
    font-family: 'Roboto Regular',Helvetica,Arial,Lucida,sans-serif;
    font-size: 1.1rem;
    color: #fff;
   
}


.row_footer {
    display: flex; 
    width: 100%;
    height: auto;
    background-color: #313131;
    

    
}

.row_footer p {
    padding-bottom: 16px;
    line-height: 1.2em;
    font-family: 'Roboto Regular',Helvetica,Arial,Lucida,sans-serif;

}

.foot1 {
    width: 29.6667%;
    background-color:#313131;
    text-align: center;
    padding: 37px 71px 37px 0;
    margin-right: 71;
    text-align: center;
}

.foot1 > .media { 
    font-family: ETModules;
    font-size: 30px;
}

.media > ul  { 
    list-style: none;
    display: flex;
    padding: 14%;
    
    
}

.facebook::after {
    font-family: ETModules;
    content: "\e0c1";
    padding-right: 10px;

}

.instagram::after { 
    font-family: ETModules;
    content: "\e0c8";
    padding-right: 10px;

}

.linkedin::after { 
    font-family: ETModules;
    content: "\e0cb";
    padding-right: 10px;
}   

.twitter::after {
    font-family:ETModules; 
    content: "\e0c2";
    padding-right: 10px;
}

.youtube::after {
    font-family: ETModules;
    content: "\e0a3"
}
.foot1 img {
    width: 319px;
    height: 57px;
    padding-top: 37px; 
}
.foot2 {
    width: 25%;
    height: auto;
    background-color:#313131;
    
    padding: 20px 0 20px 0; 
    margin-top: 20px;

}

.foot3 { 
    width: 25%;
    background-color:#313131;
    padding: 20px 0 20px 0; 
    margin-top: 20px;

}

.foot4 {
    width: 25%;
    background-color:#313131;
    padding: 20px 0 20px 0; 
    margin-top: 20px;
}

.button_contact a  {
    font-size: 20px;
    line-height: 34px;
    padding: 8px 40px;
    font-weight: 500;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 2px;
    
}

.button_contact a:hover { 
    border-color: #313131 ;
    transition: 300ms;
    transform: 200s ease;
    
}

.button_contact a::after {
    font-family: ETModules;
    content: "\35";
    margin-left: -1em;
    transition: 300ms;
    transform: 200ms ease;
    opacity: 0;
    position: absolute;
}

.button_contact:hover a::after {
    font-family: ETModules;
    font-size: 25px;
    margin-left: 0.7em;
    color: #fff;
    position: absolute;
    transition: 300ms;
    transform: 200ms ease;
    opacity: 1;


}

.logo_april {
    width: 154px;
    height: 69px;
    margin-top: 64px;
}


.foot { 
    height: 47.2px;
    background: black;
    padding: 10px 10px 10px 10px;
}

.p1 a {
    color: #fff;
}

.p1 { 
    color: #fff;
    font-size: 16px;
    line-height: 27.2px;
    font-weight: 500;
}


/* RESPONSIVE */


